// Common colors
$color-accent: #58e1c1;
$color-body: #777;
$lt-blue: #51ddfc;
$white: #fff;
$border-color: #ccc;

// Common font
$font-stack-primary: 'Lato', sans-serif;
$lt-weight: 300;

// Common width
$full: 100%;

// Media query breakpoint
$lrg: 768px;



