/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {

    &-avatar {
      @include auto-block;
      margin-top: 10px;
      max-width: $full; 
      max-height: $full;
    }
    &-frame {
      @include auto-block;
      margin-top: 10px;
      max-width: $full;
      padding: 13px;
      border: 1px solid $border-color;
    }
  
    &-logo {
      @include auto-block;
    }
  }